<ul id="nav-translate">
  <div>
  <% I18n.available_locales.each do |locale| %>
    <% if I18n.locale == locale %>
      <li>
        <%= link_to t(".lang.#{locale}"), url_for(locale: locale), class:"active-lang" %>
      </li>
    <% else %>
    <%= link_to t(".lang.#{locale}"), url_for(locale: locale) %>
    <% end %>
  <% end %>
  </div>
</ul>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
  class: "dropdown-item" %>
<%= link_to "Se connecter",  new_user_session_path %>
