<ul id="nav-translate">
  <div>
  <% I18n.available_locales.each do |locale| %>
    <% if I18n.locale == locale %>
      <li>
        <%= link_to t(".lang.#{locale}"), url_for(locale: locale), class:"active-lang" %>
      </li>
    <% else %>
    <%= link_to t(".lang.#{locale}"), url_for(locale: locale) %>
    <% end %>
  <% end %>
  </div>
</ul>
<div id="head-nav">
  <div id="nav-primary">
    <nav role="navigation" class="primary-navigation">
    <%= image_tag "logo-phytodia.png" %>
  <ul>
    <li class="nav-head"><a href="#">Laboratoire des plantes</a>
      <ul class="dropdown" style="columns: 2;">
        <li><a href="#">Analyse des molécules végétales</a></li>
        <li><a href="#">Mise en conformité règlementaire</a></li>
        <li><a href="#">Analyse de tout type de plante</a></li>
        <li><a href="#">Extraction végétale</a></li>
        <li><a href="#">Développement d'actifs & extraits</a></li>
        <li><a href="#">Analyse & Conseil</a></li>
        <li><a href="#">Façonnage d'extraits végétaux</a></li>
        <li><a href="#">Full caractérisation</a></li>
        <li><a href="#">Nos autres prestations</a></li>
      </ul>
    </li>
    <li class="nav-head"><a href="/">Analyse et R&D</a>
      <ul class="dropdown" style="columns: 2;">
        <li><a href="#">Création d'extrait innovant</a></li>
        <li><a href="#">Développement d'un extrait premium</a></li>
        <li><a href="#">Analyse des produits cosmétiques</a></li>
        <li><a href="#">Laboratoire de chimie analytique</a></li>
        <li><a href="#">Laboratoire de développement analytique</a></li>
        <li><a href="#">Analyse atypique</a></li>
        <li><a href="#">Conseil & développement produit</a></li>
        <li><a href="#">Analyse substances indésirables</a></li>
        <li><a href="#">Nos autres prestations</a></li>
      </ul>
    </li>
    <li class="nav-head"><a href="/">Cosmétologie</a>
      <ul class="dropdown" style="columns: 2;">
        <li><a href="#">Formulation cosmétique</a></li>
        <li><a href="#">Façonnage en petite quantité</a></li>
        <li><a href="#">Certification & labellisation</a></li>
        <li><a href="#">Nos autres prestations</a></li>
      </ul>
    </li>
    <li class="nav-head"><a href="">Nos actis & marques</a>
    </li>
    <li class="nav-head"><a href="">A propos</a>
    </li>
    <li class="nav-head"><a href="">Blog</a></li>
    <li class="nav-head"><a href="">Contact</a></li>
    </ul>
    </nav>
  </div>
<!--
<div id="sub-nav-bg"></div>
-->
</div>
