#nav-translate {
  background-color: $green;
  list-style-type: none;
  margin: 0;
  padding: 0;
  div:first-of-type {
    max-width: 1280px;
    border: solid 1px red;
    display: flex;
    margin: auto;
    justify-content: end;
    padding-left: 1em;
    padding-right: 1em;
  }
  a {
    color: grey;
    &.active-lang {
      color: white;
    }
  }
}
#nav-main {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  & > div {
    max-width: 1280px;
    margin: auto;
    display: flex;
  }
  img { margin-right: 2em;}
  ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    align-items: end;
    li {
      display: flex;
      border-radius: 3px 3px 0px 0px;
      a {
        text-decoration: none; color: black; padding: 10px 20px 0px 20px;
      }
      &>ul {
        display: none;
      }
    }
    li:hover {
      background-color: $green;
      color: white;
      a {
        color: white;
      }
    }
  }

}
